<h2>Minhas tarefas</h2>
<button class="dash" routerLink='/dashboard'>Ir para dashboard</button>
<ul class="tarefa">
<li *ngFor="let tar of tarefas" [class.selected]="hero === selectedTarefa" (click)="onSelectTarefa(tar)">
      <span class="badge">
        Nome: {{tar.nome}}
        </span>
        Descrição: {{tar.descr}}
        Percentual: {{tar.perc}} 
        
</li>
</ul>

<div *ngIf="selectedTarefa">
<h2> {{selectedTarefa.nome | uppercase}} Detalhe</h2>
    <div>
        <label>Nome:
        <input [(ngModel)]="selectedTarefa.nome"
        placeholder="name"/>
        </label><br>
        <label>Descrição:
        <input [(ngModel)]="selectedTarefa.descr"
        placeholder="descricao"/>
        </label><br>
        <label>Percentual:
        <input [(ngModel)]="selectedTarefa.perc"
        placeholder="percentual"/>
        </label>
    </div>
</div>
